@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/*
Scorilo 1.0.1 - HTML Template by WowThemes.net
Visit: https://www.wowthemes.net
================================================== */
body {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    color: #777;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto;
    font-weight: 700;
}

.unstyle ul li,
.unstyle ol li,
ul.unstyle li,
ol.unstyle li {
    list-style: none;
    line-height: inherit;
}

.text-left {
    text-align: left !important;
}

a:hover {
    text-decoration: none;
}

.content-block {
    padding: 50px 0;
    margin-top: 50px;
}

.navbar-lg {
    min-height: 76px;
}

    .navbar-lg .navbar-brand {
        line-height: 1;
        padding-top: 20px;
        padding-bottom: 26px;
        font-size: 30px;
    }

.navbar-toggle:before {
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
}

header .navbar-white a {
    color: #3d566e;
    font-weight: 700;
}

.item.content,
.item.portfolio,
.item.team,
.item.pricing,
.item.contact {
    padding-top: 40px;
    padding-bottom: 0px;
}

.padding-top-100 {
    padding-top: 180px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

header .navbar-white {
    background: #fff;
    box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.1);
}

.item.header {
    background-image: url(../images/homeimg.jpg);
    background-repeat: no-repeat;
    background-position: 0% top;
    background-size: cover;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-nav,
.navbar > .container .navbar-brand {
    font-family: Dosis;
    text-transform: uppercase;
}

.text-homeimage {
    text-align: center;
    color: #fff;
    z-index: 2;
    position: relative;
    font-size: 75px;
    line-height: 90px;
    text-transform: uppercase;
    padding-top: 190px;
    padding-bottom: 190px;
    font-weight: 700;
    font-family: Dosis;
}

.text-pageheader {
    text-align: center;
    color: #fff;
    z-index: 2;
    position: relative;
    font-size: 45px;
    line-height: 90px;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 700;
    font-family: Dosis;
}

.subtext-image {
    text-transform: none;
    font-weight: 100 !important;
}

.toparea {
    background: #fff;
    margin-top: -100px;
    padding-top: 30px;
}

.numbertext {
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: #444;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.numberstep {
    background-color: #00bba7;
    border-radius: 50%;
    color: #fff;
    margin-right: 4px;
    text-align: center;
    height: 60px;
    width: 60px;
    line-height: 60px;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
}

h1.latestitems {
    font-size: 22px;
    line-height: 28px;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0;
}

.wow-hr {
    position: relative;
    font-size: 0;
    text-align: center;
    height: 24px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 50%;
    padding: 2px 0;
    overflow: hidden;
    clear: both;
}

.wow-hr-h:before {
    left: -13px;
    margin-left: -50%;
    background: #f7f7f7;
}

.wow-hr-h:after {
    left: 13px;
    margin-right: -50%;
}

.wow-hr-h:before,
.wow-hr-h:after {
    display: inline-block;
    content: "";
    height: 1px;
    width: 50%;
    margin-top: 9px;
    vertical-align: top;
    position: relative;
    background-color: #e4e4e4;
}

.wow-hr-h i {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    vertical-align: top;
    text-align: center;
    color: #e4e4e4;
}

.paddingtop0 {
    padding-top: 0 !important;
}

.paddingbottom20 {
    padding-bottom: 20px !important;
}

.homebrowseitems {
    text-decoration: none;
    background-color: #00bba7;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 13px 39px;
    letter-spacing: 1px;
    margin-top: -20px;
    display: inline-block;
    color: #fff;
    margin-bottom: 0px;
}

.homebrowseitemsicon {
    color: #fff;
    display: inline-block;
    padding: 13px 20px;
    margin-top: -13px;
    margin-bottom: -13px;
    margin-right: -39px;
    margin-left: 15px;
    background: rgba(0, 0, 0, 0.2);
}

a.homebrowseitems:hover {
    color: #fff;
    opacity: 0.8;
}
/*==============================================* SHOP *===============================================*/
img {
    max-width: 100%;
}
/*Product Box*/
.maxproduct {
    max-height: 300px;
    overflow: hidden;
    display: inline-block;
}

.productbox {
    background: #fff;
    padding: 13px;
    border: 1px solid #e4e4e4;
    margin-bottom: 30px;
    height: 480px;
}

.latest-items .productbox {
    margin-bottom: 30px;
}

.productbox h1 {
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #333;
}

.product-details {
    padding: 6px 0 0 0;
    text-align: center;
    color: #444;
}

.productbox .price {
    font-weight: 400;
}

.shopsection .productbox {
    margin-bottom: 30px;
}

.captionshop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00bba7;
    width: 100%;
    height: 100%;
}

    .captionshop h3,
    .captionshop p {
        color: #fff;
        margin: 20px;
    }

    .captionshop h3 {
        margin: 30px 20px 10px;
    }

    .captionshop p {
        font-size: 15px;
        margin: 0 20px 15px;
    }

    .captionshop a.learn-more {
        padding: 8px 12px;
        background: transparent;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        border: 1px solid;
        display: inline-block;
        min-width: 120px;
        text-transform: uppercase;
        font-size: 16px;
    }

        .captionshop a.learn-more.detailslearn {
            margin-left: -1px;
        }

        .captionshop a.learn-more:hover {
            background: #fff;
            color: #00bba7;
            display: inline-block;
            border: 1px solid #fff;
        }

.fadeshop {
    position: relative;
    max-height: 300px;
}

.properties-box {
    padding: 20px 20px 15px 20px;
    border: 1px solid #e4e4e4;
    margin-top: 25px;
    clear: both;
    float: none;
    line-height: 1.7;
}

.slide-text {
    position: relative;
    color: #666;
    overflow: hidden;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    max-width: 75%;
    margin: 0px auto;
    margin-top: 0px;
}

.edd-submit.button {
    font-size: 20px;
    border: 0px;
    padding: 7px 20px;
    text-decoration: none;
    color: #444;
    text-align: center;
    font-weight: 400;
    background: #fff;
    text-transform: uppercase;
    border-radius: 0;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    background-color: #00bba7;
    color: #fff;
}

    .edd-submit.button,
    .edd-submit.button:visited {
        background-color: #00bba7;
        color: #fff;
        border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    }

        .edd-submit.button:hover {
            opacity: 0.8;
        }

.rightarea-price .edd-submit.button {
    font-size: 25px;
    padding: 14px 25px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-weight: 400;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    border-radius: 0;
}

.rightarea-price .edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js,
.rightarea-price .edd-submit.button {
    display: block;
}

.edd-submit.button.active,
.edd-submit.button:focus,
.edd-submit.button:hover {
    color: #fff;
}

#edd-purchase-button,
.edd-submit,
input[type="submit"].edd-submit {
    background-color: #00bba7;
    color: #fff;
    border: 0;
    border-radius: 0;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    font-size: 17px;
    font-weight: 700;
}

#edd_checkout_cart a.edd-cart-saving-button,
th input[type="submit"].edd-submit {
    text-decoration: none;
    padding: 4px 10px;
    text-transform: none;
    font-size: 14px;
    background: #fff;
    color: #444;
    border: 1px solid #eee;
    font-weight: 500;
}

#edd_checkout_cart input.edd-item-quantity {
    padding-left: 10px;
}

.edd-cart-added-alert {
    border: 2px solid green;
    padding: 7px 10px;
    margin-bottom: 30px;
    float: right;
    display: inline;
    margin-left: 20px;
}

.btn-buynow {
    font-size: 25px;
    padding: 14px 25px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-weight: 400;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    border-radius: 0;
    display: block;
    background: #33c9b9;
}

.rightarea-price .edd-cart-ajax-alert {
    display: inline;
}

.rightarea-price .edd-cart-added-alert {
    border: 2px solid green;
    padding: 16px 10px;
    top: 2px;
    position: absolute;
    margin-left: 20px;
    clear: both;
    float: none;
    margin-bottom: 0px;
}

.rightarea-price .edd_download_purchase_form {
    margin-bottom: 0;
}

.rightarea-price .edd_go_to_checkout {
    clear: both;
    float: none;
    margin-bottom: 0px;
}

.rightarea-price .edd-submit.button {
    display: block;
    clear: both;
    float: none;
    margin-bottom: 0px;
}

.edd_empty_cart {
    padding: 20px;
    display: block;
    background-color: #fcf8e3;
    border: #faebcc 1px solid;
    color: #8a6d3b;
    text-align: center;
    margin-bottom: 200px;
}

.headercart {
    color: #fff;
    font-size: 21px;
    display: block;
    padding-top: 45px;
    font-weight: 300;
    letter-spacing: 1px;
    z-index: 2;
    position: relative;
}

    .headercart a {
        z-index: 2;
        position: relative;
        color: #fff;
    }

.filtertagscats a {
    color: #999;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 13px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px !important;
}

table#edd_purchase_receipt td,
table#edd_purchase_receipt th,
table#edd_purchase_receipt_products td,
table#edd_purchase_receipt_products th {
    text-align: left;
    border: 1px solid #eee;
    padding: 10px;
}

#edd_checkout_cart {
    text-align: left;
    width: 100%;
    border: none;
    margin: 0 0 21px;
    table-layout: auto;
}

    #edd_checkout_cart .edd_cart_header_row th {
        background: #fafafa;
        padding: 1.387em;
    }

    #edd_checkout_cart td,
    #edd_checkout_cart th {
        text-align: left;
        border: 1px solid #eee;
        color: #666;
        padding: 0.5em 1.387em;
    }

#edd_checkout_form_wrap fieldset {
    border: 1px solid #eee;
    padding: 1.387em;
    margin: 0 0 21px;
}

legend {
    display: inline-block !important;
}

#edd_checkout_form_wrap label {
    font-weight: 700;
    display: block;
    position: relative;
    line-height: 100%;
    font-size: 95%;
    margin: 0 0 5px;
}

#edd_checkout_form_wrap input[type="text"],
#edd_checkout_form_wrap input[type="email"],
#edd_checkout_form_wrap input[type="password"],
#edd_checkout_form_wrap input[type="tel"],
#edd_checkout_form_wrap textarea {
    padding: 4px 6px;
}

    #edd_checkout_form_wrap input.edd-input,
    #edd_checkout_form_wrap textarea.edd-input {
        display: inline-block;
        width: 100%;
        border: 1px solid #eee;
    }

.myaccountsection legend {
    -webkit-padding-start: 0;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    display: block;
}

.myaccountsection #edd_login_form {
    margin-top: 20px;
}

    .myaccountsection #edd_login_form input,
    .myaccountsection #edd_login_form select {
        margin-bottom: 0;
        margin-left: 10px;
    }

        .myaccountsection #edd_login_form input[type="submit"] {
            margin-left: 0px;
        }

.myaccountsection input,
.myaccountsection select {
    margin-bottom: 20px;
    padding: 7px 5px;
}

    .myaccountsection input[type="submit"] {
        background: #333;
        padding: 7px 20px;
        color: #fff;
        border: 0px;
        margin-left: 0px;
    }
/* WOW Fancy Box 3================================================== */
.infoarea .maintitle,
.maintitle {
    font-size: 22px;
    line-height: 28px;
    color: #444;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.infoareaicon {
    font-size: 40px;
    position: absolute;
    top: -18px;
    left: 43%;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    color: #00bba7;
}

.infoareawrap {
    border: 1px solid #eee;
    padding: 20px;
}

    .infoareawrap h1.subtitle {
        margin-top: 20px;
        color: #444;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
/* the text box */
.slide-text {
    position: relative;
    color: #666;
    overflow: hidden;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    max-width: 75%;
    margin: 0px auto;
}

    .slide-text img {
        border-radius: 50%;
        max-width: 100px;
        margin: 20px 0;
    }

    .slide-text p {
        margin-top: 0px;
        font-size: 19px;
    }

    .slide-text a p {
        color: #666;
    }

    .slide-text h2 {
        font-style: normal;
        font-size: 24px;
        line-height: 28px;
        color: #444;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 15px;
        margin-top: 0;
    }

.callactiontitle {
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}

.callactionbutton {
    border: 1px solid;
    padding: 10px 20px;
    margin-left: 30px;
}

.footer ul.social-iconsfooter li {
    display: inline-block;
    float: none;
    position: relative;
    background: transparent;
    margin-right: 5px;
    border: 1px solid #333;
}

    .footer ul.social-iconsfooter li a {
        color: #fff;
        width: 60px;
        height: 60px;
        line-height: 60px;
        display: inline-block;
    }

.footer {
    background: #222;
    color: #999;
    font-size: 14px;
    padding: 60px 0 40px 0;
    margin-top: 0px;
}

ul,
ol {
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    -khtml-padding-start: 0px;
    -o-padding-start: 0px;
    padding-start: 0px;
    padding-left: 0px;
}

.footernote {
    font-size: 30px;
    color: #fff;
}

.footer a {
    color: #00bba7;
}

#contactform input,
#contactform textarea {
    border: 0px;
    border: 1px solid #eee;
    width: 100%;
    background-color: transparent;
    padding: 14px 10px;
    margin-bottom: 20px;
    border-radius: 0;
    font-size: 14px;
}

#contactform .btn {
    background: #333;
    color: #fff;
    border: 1px solid #333;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.done {
    display: none;
}

.error input,
input.error,
.error textarea,
textarea.error {
    background-color: #ffffff;
    border-bottom: 2px solid orangered !important;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* css chi tiết sản phẩm */
.pd-wrap {
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
}

.heading-section {
    text-align: center;
    margin-bottom: 20px;
}

.sub-heading {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-section h2 {
    font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: "Poppins", sans-serif;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}

.carousel-testimonial .item {
    padding: 30px 10px;
}

.quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}

.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}

.position {
    color: #adadad;
    font-size: 14px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    height: 25px;
}

    .owl-nav button svg {
        width: 25px;
        height: 25px;
    }

    .owl-nav button.owl-prev {
        left: 25px;
    }

    .owl-nav button.owl-next {
        right: 25px;
    }

    .owl-nav button span {
        font-size: 45px;
    }

.product-thumb .item img {
    height: 100px;
}

.product-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
}

.product-price-discount {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}

    .product-price-discount span.line-through {
        text-decoration: line-through;
        margin-left: 10px;
        font-size: 14px;
        vertical-align: middle;
        color: #a5a5a5;
    }

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.product-info {
    width: 100%;
}

.reviews-counter {
    font-size: 13px;
}

    .reviews-counter span {
        vertical-align: -2px;
    }

.rate {
    float: left;
    padding: 0 10px 0 0;
}

    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 15px;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 21px;
        color: #ccc;
        margin-bottom: 0;
        line-height: 21px;
    }

        .rate:not(:checked) > label:before {
            content: "\2605";
        }

    .rate > input:checked ~ label {
        color: #ffc700;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

.product-dtl p {
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;
}

.product-dtl .form-control {
    font-size: 15px;
}

.product-dtl label {
    line-height: 16px;
    font-size: 15px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.product-count {
    margin-top: 15px;
}

    .product-count .qtyminus,
    .product-count .qtyplus {
        width: 34px;
        height: 34px;
        background: #212529;
        text-align: center;
        font-size: 19px;
        line-height: 36px;
        color: #fff;
        cursor: pointer;
    }

    .product-count .qtyminus {
        border-radius: 3px 0 0 3px;
    }

    .product-count .qtyplus {
        border-radius: 0 3px 3px 0;
    }

    .product-count .qty {
        width: 60px;
        text-align: center;
    }

.round-black-btn {
    border-radius: 4px;
    background: #33c9b9;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
}

    .round-black-btn:hover,
    .round-black-btn:focus {
        background: transparent;
        color: #212529;
        text-decoration: none;
    }

.product-info-tabs {
    margin-top: 25px;
}

    .product-info-tabs .nav-tabs {
        border-bottom: 2px solid #d8d8d8;
    }

        .product-info-tabs .nav-tabs .nav-item {
            margin-bottom: 0;
        }

        .product-info-tabs .nav-tabs .nav-link {
            border: none;
            border-bottom: 2px solid transparent;
            color: #323232;
        }

        .product-info-tabs .nav-tabs .nav-item .nav-link:hover {
            border: none;
        }

        .product-info-tabs .nav-tabs .nav-item.show .nav-link,
        .product-info-tabs .nav-tabs .nav-link.active,
        .product-info-tabs .nav-tabs .nav-link.active:hover {
            border: none;
            border-bottom: 2px solid #d8d8d8;
            font-weight: bold;
        }

    .product-info-tabs .tab-content .tab-pane {
        padding: 30px 20px;
        font-size: 15px;
        line-height: 24px;
        color: #7a7a7a;
    }

.review-form .form-group {
    clear: both;
}

.mb-20 {
    margin-bottom: 20px;
}

.review-form .rate {
    float: none;
    display: inline-block;
}

.review-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}

.review-form .form-control {
    font-size: 14px;
}

.review-form input.form-control {
    height: 40px;
}

.review-form textarea.form-control {
    resize: none;
}

.review-form .round-black-btn {
    text-transform: uppercase;
    cursor: pointer;
}

.card {
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important;
}

.articles {
    font-size: 10px;
    color: #a1aab9;
}

.number1 {
    font-weight: 500;
}

.followers {
    font-size: 10px;
    color: #a1aab9;
}

.number2 {
    font-weight: 500;
}

.rating {
    font-size: 10px;
    color: #a1aab9;
}

.number3 {
    font-weight: 500;
}

@media (min-width: 768px) {
    .navbar-lg .navbar-nav > li > a {
        padding-top: 26px;
        padding-bottom: 26px;
        font-size: 18px;
    }

        .navbar-lg .navbar-nav > li > a:hover,
        .navbar-lg .navbar-nav > li > a:active {
            background: #fff;
            color: #00bba7;
        }
}

.image img {
    width: 80px;
    height: 80px;
}

:root {
    --bg-page: #ffffff;
    --bg-page-darker: #f7f7f7;
    --bg-page-darkest: #b3b3b3;
    --colour-primary: #3996fb;
    --colour-primary-lightest: #e8f3ff;
    --colour-primary-darker: #1a7ee6;
    --colour-third: #419d78;
    --colour-third-lighter: #7bc9aa;
    --colour-third-lightest: #e6f7f0;
    --colour-text: #696969;
    --colour-text-lighter: #9b9b9b;
    --colour-text-darker: #626262;
    --colour-text-darkest: #363636;
    --border-color: #e8e7e7;
    --form-radius: 13px;
    --search-form-bg-colour: #f2f2f2;
    --send-form-bg-colour: #f2f2f2;
    --send-btn-box-shadow-colour: #7bbafd;
    --chat-bubble-me: #f2f2f2;
    --chat-bubble-you: var(--colour-primary);
}

.dark-mode {
    --bg-page: #1a1a1a;
    --bg-page-darker: #363636;
    --bg-page-darkest: #818181;
    --colour-primary: #1a71d0;
    --colour-primary-lightest: #202c3a;
    --colour-primary-darker: #449ffd;
    --colour-third: #41c590;
    --colour-third-lighter: #56d6a3;
    --colour-third-lightest: #272f2c;
    --colour-text: #c7c7c7;
    --colour-text-lighter: #868686;
    --colour-text-darker: #dcdcdc;
    --colour-text-darkest: #eaeaea;
    --border-color: #4c4c4c;
    --search-form-bg-colour: #363636;
    --send-form-bg-colour: #363636;
    --send-btn-box-shadow-colour: #44515f;
    --chat-bubble-me: #363636;
    --chat-bubble-you: var(--colour-primary);
}

/* ===================================
    Base
====================================== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    color: var(--colour-text);
    background-color: var(--bg-page);
}

/* ===================================
    Mixins & functions
====================================== */
/* ===================================
    Main
====================================== */
.messages-page {
    height: 100vh;
}

.messages-page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messages-page__title {
    color: var(--colour-text-darker);
    font-weight: bold;
    font-size: 1.5rem;
}

@media screen and (max-width: 1199px) {
    .messages-page__title {
        font-size: 1.5rem;
    }
}

.messages-page__dark-mode-toogler {
    width: 2.6rem;
    height: 2.6rem;
    padding: 0.35rem;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .messages-page__dark-mode-toogler:hover {
        background-color: var(--colour-primary);
        border-color: var(--colour-primary);
    }

        .messages-page__dark-mode-toogler:hover path {
            fill: var(--bg-page-darker);
        }

.messages-page__list {
    list-style: none;
    flex-grow: 1;
    overflow-y: auto;
}

.messages-page__list-scroll {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-form {
    color: var(--colour-text-darkest);
    padding: 1.5rem;
    border-radius: 13px;
}

.custom-form__search-wrapper,
.custom-form__send-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

    .custom-form__search-wrapper input::-moz-placeholder,
    .custom-form__send-wrapper input::-moz-placeholder {
        color: var(--colour-text-lighter);
        font-size: 0.9rem;
    }

    .custom-form__search-wrapper input:-ms-input-placeholder,
    .custom-form__send-wrapper input:-ms-input-placeholder {
        color: var(--colour-text-lighter);
        font-size: 0.9rem;
    }

    .custom-form__search-wrapper input::placeholder,
    .custom-form__send-wrapper input::placeholder {
        color: var(--colour-text-lighter);
        font-size: 0.9rem;
    }

    .custom-form__search-wrapper input:focus,
    .custom-form__send-wrapper input:focus {
        outline: none;
        box-shadow: none;
    }

    .custom-form__search-wrapper input {
        padding-right: 3rem;
        background-color: var(--search-form-bg-colour);
        border: 1px solid var(--bg-page);
    }

        .custom-form__search-wrapper input:-moz-placeholder-shown {
            background-color: var(--search-form-bg-colour);
            border: 1px solid var(--bg-page);
        }

        .custom-form__search-wrapper input:-ms-input-placeholder {
            background-color: var(--search-form-bg-colour);
            border: 1px solid var(--bg-page);
        }

        .custom-form__search-wrapper input:placeholder-shown {
            background-color: var(--search-form-bg-colour);
            border: 1px solid var(--bg-page);
        }

        .custom-form__search-wrapper input:focus {
            background-color: var(--bg-page);
            border-color: var(--border-color);
            color: var(--colour-text);
        }

    .custom-form__send-wrapper input {
        padding-right: 6rem;
        padding-left: 3.25rem;
        background-color: var(--send-form-bg-colour);
        border: none;
    }

        .custom-form__send-wrapper input:focus {
            background-color: var(--send-form-bg-colour);
            border-color: transparent;
            color: var(--colour-text);
        }

.custom-form__search-submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .custom-form__search-submit:focus {
        outline: none;
        border: none;
    }

.custom-form__send-submit {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    height: 2.3rem;
    width: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colour-primary);
    border-radius: 50%;
    box-shadow: 0 3px 3px var(--send-btn-box-shadow-colour);
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 0.3rem;
    color: white;
    padding-right: 0.1rem;
}

    .custom-form__send-submit:focus {
        outline: none;
        border: none;
    }

    .custom-form__send-submit:hover {
        background-color: var(--colour-primary-darker);
    }

.custom-form__send-img {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    width: 2.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-form__send-emoji {
    position: absolute;
    top: 50%;
    right: 3.2rem;
    transform: translateY(-50%);
    width: 2.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messaging-member {
    border-radius: var(--form-radius);
}

    .messaging-member:hover {
        background-color: var(--bg-page-darker);
    }

.messaging-member--new .messaging-member__name {
    color: var(--colour-text-darker);
}

.messaging-member--new .messaging-member__message {
    color: var(--colour-text-darker);
    font-weight: bold;
}

.messaging-member--online .user-status {
    background-color: var(--colour-third-lighter);
}

.messaging-member--active {
    background-color: var(--colour-primary-lightest);
}

    .messaging-member--active:hover {
        background-color: var(--colour-primary-lightest);
    }

@media screen and (max-width: 767px) {
    .messaging-member--active {
        background-color: var(--bg-page);
    }

        .messaging-member--active:hover {
            background-color: var(--bg-page-darker);
        }
}

.messaging-member__wrapper {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: var(--form-radius);
    display: grid;
    grid-template-columns: 4rem 4fr;
    grid-template-rows: 2rem 2rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    grid-template-areas: "avatar     name" "avatar     message";
}

@media screen and (max-width: 1199px) {
    .messaging-member__wrapper {
        grid-template-columns: 3.5rem 1fr;
        grid-template-rows: 1.75rem 1.75rem;
    }
}

@media screen and (max-width: 991px) {
    .messaging-member__wrapper {
        grid-template-columns: 3.2rem 1fr;
        grid-template-rows: 1.75rem 1.75rem;
    }
}

.messaging-member__avatar {
    grid-area: avatar;
    position: relative;
}

    .messaging-member__avatar img {
        border-radius: 50%;
        width: 100%;
    }

.messaging-member__name {
    font-weight: bold;
    grid-area: name;
    color: var(--colour-text-darker);
    margin-top: auto;
    font-size: 0.9rem;
}

.messaging-member__message {
    grid-area: message;
    white-space: nowrap;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.9rem;
}

.chat {
    height: 100%;
    width: 100%;
}

.chat__container {
    height: 100%;
    width: 100%;
}

.chat__wrapper {
    background-color: var(--bg-page);
    height: 100%;
    width: 100%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .chat__wrapper {
        border-left: none;
        border-right: none;
    }
}

.chat__messaging {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__previous {
    width: 8%;
    min-width: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--colour-primary);
}

.chat__notification {
    width: 4%;
    min-width: 1.5rem;
}

    .chat__notification span {
        display: none;
        width: 1.4rem;
        height: 1.4rem;
        text-align: center;
        border-radius: 50%;
        font-weight: bold;
        color: white;
        background-color: var(--colour-primary);
        font-size: 0.9rem;
    }

.chat__notification--new span {
    display: block;
}

.chat__infos {
    flex-grow: 1;
}

.chat__actions {
    font-size: 5px;
    height: 2rem;
    min-width: 2rem;
    color: var(--colour-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .chat__actions ul {
        list-style: none;
        display: flex;
    }

    .chat__actions li {
        width: 2.6rem;
        height: 2.6rem;
        padding: 0.35rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--bg-page);
    }

        .chat__actions li + li {
            margin-left: 0.3rem;
        }

        .chat__actions li:hover {
            background-color: var(--colour-primary-lightest);
        }

.chat__content {
    flex-grow: 1;
    overflow-y: auto;
}

.chat__list-messages {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

    .chat__list-messages li {
        margin-bottom: 0.7rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

        .chat__list-messages li .chat__bubble {
            margin-bottom: 0.2rem;
        }

.chat__bubble {
    position: relative;
    color: var(--colour-text-darkest);
    padding: 0.5rem 1rem;
    border-radius: 22px;
    background-color: var(--bg-page);
    max-width: 30rem;
    font-size: 0.9rem;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

.chat__bubble--you {
    margin-right: 2rem;
    color: white;
    background-color: var(--chat-bubble-you);
    align-self: flex-end;
}

.chat__bubble--me {
    margin-left: 2rem;
    background-color: var(--chat-bubble-me);
    
}

.chat__time {
    font-size: 0.8rem;
    color: var(--colour-text-lighter);
    align-self: center;
    padding-bottom: 0.2rem;
}

.chat__send-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-member__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chat-member__avatar {
    position: relative;
    width: 3.5rem;
}

    .chat-member__avatar img {
        border-radius: 50%;
        width: 100%;
    }

@media screen and (max-width: 767px) {
    .chat-member__avatar {
        width: 2.5rem;
    }
}

.chat-member__name {
    font-weight: bold;
    color: var(--colour-text-darker);
    margin-top: auto;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1rem;
}

@media screen and (max-width: 1199px) {
    .chat-member__name {
        font-size: 0.9rem;
    }
}

.chat-member__details {
    margin-left: 0.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .chat-member__details {
        margin-left: 1rem;
    }
}

.chat-member__age {
    font-size: 0.9rem;
    color: var(--colour-text-lighter);
    position: relative;
}

    .chat-member__age::after {
        content: " . ";
        font-size: 0px;
        position: absolute;
        top: 50%;
        right: -4px;
        width: 3px;
        height: 3px;
        background-color: var(--colour-text-lighter);
        border-radius: 50%;
    }

.chat-member__status {
    color: var(--colour-text-lighter);
    font-size: 0.8rem;
}

.chat__profile {
    width: 100%;
    height: 100%;
    max-width: 20rem;
}

.chat--mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    transform: translateY(100%);
    display: none;
    transition: transform 0.3s ease-in-out 0.1s;
}

    .chat--mobile .chat__wrapper {
        border-radius: 0;
    }

    .chat--mobile.chat--show {
        display: block;
        transform: translateY(0%);
        border-radius: 0;
    }

.user-profile {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}

.user-profile__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user-profile__close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    width: 2rem;
    height: 2rem;
    color: var(--colour-primary);
    font-size: 1.375rem;
    cursor: pointer;
    z-index: 10003;
}

.user-profile__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .user-profile__avatar img {
        width: 9rem;
        border-radius: 50%;
    }

.user-profile__name {
    font-weight: bold;
    margin-top: 0.7rem;
    color: var(--colour-text-darker);
    word-wrap: break-word;
    font-size: 1.15rem;
}

@media screen and (max-width: 767px) {
    .user-profile__name {
        font-size: 1.1rem;
    }
}

.user-profile__phone {
    color: var(--colour-text-darker);
    font-size: 0.9rem;
}

.user-profile__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.user-profile__location {
    color: var(--colour-text-lighter);
    font-size: 0.9rem;
}

.user-profile__description {
    text-align: center;
}

    .user-profile__description p {
        margin-top: 1.3rem;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9rem;
    }

.user-profile__label {
    font-size: 0.9rem;
    font-weight: bold;
}

.user-profile__tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

    .user-profile__tags li {
        padding: 0.3rem 1rem;
        border-radius: 1rem;
        margin-right: 0.3rem;
        margin-bottom: 0.3rem;
        font-size: 0.9rem;
    }

    .user-profile__tags a:hover {
        text-decoration: none;
    }

.user-profile__tags--primary li {
    background-color: var(--colour-primary-lightest);
    color: var(--colour-primary-darker);
}

.user-profile__tags--primary a:hover {
    color: var(--colour-primary-darker);
}

.user-profile__tags--secondary li {
    background-color: var(--colour-third-lightest);
    color: var(--colour-third);
}

.user-profile__tags--secondary a:hover {
    color: var(--colour-third);
}

.user-profile--large {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10002;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out 0.1s;
    background-color: var(--bg-page);
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.06);
}

    .user-profile--large.user-profile--show {
        display: block;
        transform: translateX(0%);
        border-radius: 0;
    }

.user-status {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1rem;
    height: 1rem;
    background-color: var(--colour-text-lighter);
    border: 3px solid white;
    border-radius: 50%;
}

.user-status--online {
    background-color: var(--colour-third);
}

.svg-icon {
    width: 70%;
}

    .svg-icon path,
    .svg-icon circle {
        fill: var(--colour-primary);
    }

.svg-icon--send {
    width: 60%;
}

    .svg-icon--send path,
    .svg-icon--send circle {
        fill: white;
    }

.svg-icon--search {
    width: 40%;
}

    .svg-icon--search path,
    .svg-icon--search circle {
        fill: var(--bg-page-darkest);
    }

.svg-icon--send-img {
    width: 55%;
}

    .svg-icon--send-img path,
    .svg-icon--send-img circle {
        fill: var(--bg-page-darkest);
    }

.svg-icon--send-emoji {
    width: 60%;
}

    .svg-icon--send-emoji path,
    .svg-icon--send-emoji circle {
        fill: var(--bg-page-darkest);
    }

.svg-icon--previous {
    width: 55%;
}

.svg-icon--dark-mode {
    width: 80%;
}

    .svg-icon--dark-mode path,
    .svg-icon--dark-mode circle {
        fill: var(--colour-primary);
    }