@using bookStory.ViewModels.Common;
@model PagedResult<bookStory.ViewModels.Catalog.Chats.ChatViewModel>

@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Chat/Index.cshtml";
}
<div class="chat__container">
                    <div class="chat__wrapper py-2 pt-mb-2 pb-md-3">
                        ChatDetail
                    </div>
                    </div>