@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="text-pageheader">
                <div class="subtext-image"
                     data-scrollreveal="enter bottom over 1.7s after 0.1s">
                    WELCOME
                </div>
            </div>
        </div>
    </div>
</div>
      </div>
    </header>

<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="limiter">
            <div class="container-login100"
                 style="background-image: url('images/bg-01.jpg')">
                <div class="
                wrap-login100
                p-l-55 p-r-55 p-t-65 p-b-54
                border border-primary
              ">
                    <form class="login100-form validate-form" action="/@culture/Account/Login" method="post">
                        <span class="login100-form-title p-b-49"> ĐĂNG NHẬP </span>

                        <div class="wrap-input100 validate-input m-b-23"
                             data-validate="">
                            <span class="label-input100">Tên đăng nhập</span>
                            <input class="input101"
                                   type="text"
                                   name="UserName"
                                   placeholder="Tên đăng nhập" />
                        </div>

                        <div class="wrap-input100 validate-input"
                             data-validate="Password is required">
                            <span class="label-input100">Mật khẩu</span>
                            <input class="input101"
                                   type="password"
                                   name="Password"
                                   placeholder="Mật khẩu" />
                        </div>

                        <div class="text-right p-t-8 p-b-31">
                            <a href="#"> Quên mật khẩu? </a>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <button class="login100-form-btn" type="submit">Đăng nhập</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <a class="btn login100-form-btn"
                                           href="/@culture/Account/Register"
                                           role="button">Đăng ký</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="txt1 text-center p-t-54 p-b-20">
                            <span> Đăng nhập bằng </span>
                        </div>

                        <div class="flex-c-m">
                            <a href="#" class="login100-social-item bg1">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="#" class="login100-social-item bg2">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a href="#" class="login100-social-item bg3">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>