@model bookStory.ViewModels.System.Users.RegisterRequest
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="text-pageheader">
                <div class="subtext-image"
                     data-scrollreveal="enter bottom over 1.7s after 0.1s">
                    Đăng ký tài khoản
                </div>
            </div>
        </div>
    </div>
</div>
      </div>
    </header>

<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="limiter">
            <div class="container-login100"
                 style="background-image: url('images/bg-01.jpg')">
                <div class="
                wrap-login100
                p-l-55 p-r-55 p-t-65 p-b-54
                border border-primary
              ">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-49"> ĐĂNG KÝ </span>

                        <div class="wrap-input100 validate-input m-b-23"
                             data-validate="">
                            <span class="label-input100">Tên</span>
                            <input class="input101"
                                   type="text"
                                   name="pass"
                                   placeholder="Tên" />
                        </div>
                        <div class="wrap-input100 validate-input m-b-23"
                             data-validate="">
                            <span class="label-input100">Họ</span>
                            <input class="input101"
                                   type="text"
                                   name="pass"
                                   placeholder="Họ" />
                        </div>
                        <div class="wrap-input100 validate-input m-b-23"
                             data-validate="">
                            <span class="label-input100">Ngày sinh</span>
                            <input class="input101"
                                   type="text"
                                   name="pass"
                                   placeholder="Ngày sinh" />
                        </div>
                        <div class="wrap-input100 validate-input m-b-23"
                             data-validate="">
                            <span class="label-input100">Hòm thư</span>
                            <input class="input101"
                                   type="text"
                                   name="pass"
                                   placeholder="Hòm thư" />
                        </div>
                        <div class="wrap-input100 validate-input m-b-23"
                             data-validate="">
                            <span class="label-input100">Số điện thoại</span>
                            <input class="input101"
                                   type="text"
                                   name="pass"
                                   placeholder="Số điện thoại" />
                        </div>
                        <div class="wrap-input100 validate-input m-b-23"
                             data-validate="">
                            <span class="label-input100">Tên đăng nhập </span>
                            <input class="input101"
                                   type="text"
                                   name="pass"
                                   placeholder="Tên đăng nhập" />
                        </div>

                        <div class="wrap-input100 validate-input"
                             data-validate="Password is required">
                            <span class="label-input100">Mật khẩu</span>
                            <input class="input101"
                                   type="password"
                                   name="pass"
                                   placeholder="Mật khẩu" />
                        </div>
                        <div class="wrap-input100 validate-input mt-4"
                             data-validate="Password is required">
                            <span class="label-input100">Xác nhận mật khẩu</span>
                            <input class="input101"
                                   type="password"
                                   name="pass"
                                   placeholder="Xác nhận mật khẩu" />
                        </div>

                        <div class="container-login100-form-btn mt-5">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn">Đăng ký</button>
                            </div>
                        </div>

                        <div class="txt1 text-center p-t-54 p-b-20">
                            <span> Đăng nhập bằng </span>
                        </div>

                        <div class="flex-c-m">
                            <a href="#" class="login100-social-item bg1">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="#" class="login100-social-item bg2">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a href="#" class="login100-social-item bg3">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>